<div class="form">
    <div class="inputs">
        <input type="number" class="input" [value]="input_1" (input)="onCurrency_1($event)" />

        <select [(ngModel)]="selected_1" (change)="onCurrency_1($event)">
            <option *ngFor="let currency of nbuStat">
                {{ currency.cc }}
            </option>
        </select>
    </div>

    <div class="inputs">
        <input type="number" class="input" [value]="input_2" (input)="onCurrency_2($event)" />

        <select [(ngModel)]="selected_2" (change)="onCurrency_2($event)">
            <option *ngFor="let currency of nbuStat">{{ currency.cc }}</option>
        </select>
    </div>
</div>
